*{
    margin: 0;
    padding: 0;
}
nav{
    background-color: black;
    border-radius: 15px;
    position: fixed;
  padding-top: 15px;
  padding-bottom: 5px;
  width:100%;
 }

nav ul{
    width: 100%;
   
}
   .a{
    list-style-type:none ;
    margin-left: 60px;
    overflow: hidden;
    text-transform: uppercase;
   font-size: larger;
}
   li a{

    padding-top: 10px;
    padding-bottom: 10px;
   padding-left: 30px;
   padding-right: 30px;
    color:white;
    text-align: center;
    text-decoration: none;
   }
    li{
        padding-top: 10px;
       list-style: none;
        float:left;
    }
  li a:hover{
        color:red;
        background-color:white;

    }


    .active{
        background-color:orange;
    }

footer {

margin-bottom: 0;
margin-left: 200px;
padding-top:50px;
padding-left: 200px;
}
footer li a img{
    padding: 20px;
    }
  .a li img{
        padding: 1%;
    }
footer ul{
    list-style: none;
}


    

